---
layout: default
title: My Resume
---

<h2>Career Summary</h2>

{% for exp in site.data.experience %}
<section class="experience">
  <h3>{{ exp.title }}</h3>
  <h4>{{ exp.company }} — {{ exp.location }} | {{ exp.period }}</h4>
  <h5>{{ exp.description }}</h5>

  {% if exp.achievements %}
      {% for achievement in exp.achievements %}
        <span>{{achievement.category}}:&nbsp;</span>
        {% if achievement.items %}
            <ul>
                {% for item in achievement.items %}
                <li><p>{{item}}</p></li>
                {% endfor %}          
            </ul>
        {% endif %}
      {% endfor %}
  {% endif %}

  {% if exp.tech_stack %}
    <h5>Tech Stack:</h5>
    <div class="tech-stack">
      {% for stack in exp.tech_stack %}
        <p><strong>{{ stack.category }}:</strong> {{ stack.items | join: ", " }}</p>
      {% endfor %}
    </div>
  {% endif %}
</section>
{% endfor %}
