---
layout: default
title: My Resume
---
<h2>Thiru Sowrirajan</h2>
<p>[reachtechthiru@gmail.com](mailto:reachtechthiru@gmail.com) | +1 9729713083 | [www.linkedin.com/in/techwiththiru](http://www.linkedin.com/in/techwiththiru)</p>
<h2>Summary</h2>
<p>As an Architect, specializing in enterprise modernization, I lead the transformation of legacy systems into scalable, cloud-native architectures across industries.  </p>
<p>My strategic approach leverages architectural principles like Infrastructure as Code (IaC), Domain-Driven Design (DDD), event-driven architecture, resilience fault-tolerance and disaster recovery (DR) to ensure reliability and high availability of systems.</p>
<p>I drive end-to-end solution design. My work blends high-level strategy with practical, hands-on delivery spanning architecture, solution consulting, prototypes/proofs of concept through detailed implementation, testing, deployment and team engagement — with a strong emphasis on non-functional requirements (security, performance, availability) and best practices.</p>
<h2>Key Achievements</h2>
<span>Enterprise Modernization: </span><p> Led the successful transformation of multiple legacy monolithic systems (web forms, WCF, desktop apps, etc.) into a modern microservices, microfrontend and API ecosystem, enabling data sharing and interoperability across business units.</p>
<span>Cost Reduction & Efficiency: </span><p>Reduced infrastructure and operational costs by ~30–40% and accelerated release cycles by ~25–30% by decoupling systems and components, implementing continuous delivery, and leveraging serverless/auto-scaling solutions.</p>
<span>Security Improvements: </span><p>Achieved a 33–35% reduction in production security incidents by standardizing DevOps pipelines, automating API governance, and integrating SAST (static analysis) into the CI/CD process.</p>
<span>Vendor Independence: </span><p>Delivered over $100K in annual savings by re-architecting critical third-party functionality in-house. This eliminated licensing fees, mitigated vendor risk, and allowed more flexible feature development and faster time-to-market.</p>
<span>Business Growth Enablement: </span><p>Modernized legacy client applications into scalable cloud-native solutions on Azure, contributing to a ~30% increase in customer base and revenue growth.</p>
<span>Resilient Architecture: </span><p>Deployed high-availability, multi-region solutions using Azure Kubernetes Service (AKS), Terraform/Helm for repeatable infrastructure, and multi-zone disaster recovery. Supported a 30–35% spike in active users while reducing infrastructure spend by ~30%.</p>
<span>API & Microservices Design: </span><p>Migrated critical systems to event-driven and  service-oriented architecture, integrating API Management for seamless interoperability. Built asynchronous pipelines with message brokers, and implemented domain models and bounded contexts using Entity Framework Fluent API.</p>
<span>Team Leadership & Delivery: </span><p>Regularly conducted architecture/design reviews, mentored engineering teams, and created technical roadmaps. Produced prototypes and POCs to validate solutions early, and ensured all deliverables met quality standards through thorough testing and peer reviews.</p>
<h2>Career Summary</h2>
{% for exp in site.data.experience %}
<section class="experience">
  <h3>{{ exp.title }}</h3>
  <h4>{{ exp.company }} — {{ exp.location }} | {{ exp.period }}</h4>
  <h5>{{ exp.description }}</h5>

  {% if exp.achievements %}
      {% for achievement in exp.achievements %}
        <span>{{achievement.category}}:&nbsp;</span>
        {% if achievement.items %}
            <ul>
                {% for item in achievement.items %}
                <li><p>{{item}}</p></li>
                {% endfor %}          
            </ul>
        {% endif %}
      {% endfor %}
  {% endif %}

  {% if exp.tech_stack %}
    <h5>Tech Stack:</h5>
    <div class="tech-stack">
      {% for stack in exp.tech_stack %}
        <p><strong>{{ stack.category }}:</strong> {{ stack.items | join: ", " }}</p>
      {% endfor %}
    </div>
  {% endif %}
</section>
{% endfor %}
